html{
  min-width: 100%;
  min-height: 100%;
}
body {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    font-family: Avenir, Arial, Helvetica, sans-serif;
  }


#header {
  color: darkgreen;
  padding-top: 5%;
  width: 100%;
  text-align: center;
  justify-content: center;
}
  
h1 {
  font-size: 60px;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

h3 {
  font-size: 24px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#search-1 {
  padding-top: 34%;
  padding-left: 25%;
  padding-right: 25%;
  margin: 0px;
  width: 100%;
  color: white;
  text-align: center;
  text-shadow:
  -2px -2px 0 black,
  2px -2px 0 black,
  -2px 2px 0 black,
  2px 2px 0 black;
  font-weight: bold;
  font-size: 24px;
}

#search-2 {
  margin-left: 25%;
  width: 50%;
  color: navy;
  font-size: 20px;
}

#search-3 {
  margin-left: 44%;
  width: 150px;
  color: navy;
  background-color: white;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
  height: 40px;
  padding: 2px;
}

#park-header {
  font-size: 60px;
  color:  white;
  text-shadow:
  -2px -2px 0 darkgreen,
  2px -2px 0 darkgreen,
  -2px 2px 0 darkgreen,
  2px 2px 0 darkgreen;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  padding-top: 5%;
}

#park-options {
  padding-top: 400px;
  margin-left: 44%;
  width: 250px;
  color: darkgreen;
  background-color: black;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
  height: 40px;
  padding: 2px;
}

.footer-parks {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 16px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  color: white;
  background-color: navy;
  display: block;
  justify-content: center;
}

.dropbtn {
  background-color: navy;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: darkgreen;
  min-width: 160px;
  bottom: 42px;
  z-index: 1;
}

.dropup-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: darkgreen}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: darkgreen;
}